<ul>
  <% aircraftData.forEach( aircraft => { %>
  <li class="aircraftListItem">

    <h2>
      Registration Number: <%= aircraft.registrationNumber %>
    </h2>

    <p>
      Aircraft Type: <%= aircraft.aircraftType %>
    </p>

    <p>
      Squawk Code: <%= aircraft.squawkCode %>
    </p>

    <p>
      Latitude: <%= aircraft.latitude %>
    </p>

    <p>
      Longitude: <%= aircraft.longitude %>
    </p>

    <p>
      Altitude: <%= aircraft.altitude %>
    </p>
  </li>
</ul>