<!DOCTYPE html>
<html lang="en">

<head>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Plane Scanner Home</title>

  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="stylesheet" href="../../public/styles/styles.css" />
	<link href="https://fonts.googleapis.com/css?family=Audiowide|Ibarra+Real+Nova&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lalezar&display=swap" rel="stylesheet">

</head>

<body>

	<header>
		<%- include ('../partials/header') %>
	</header>

	<nav>
		<%- include ('../partials/nav') %>
	</nav>

	<main>
		<div id="favPageAircraftData">
			<% aircrafts.forEach( aircraft => { %>
			<div class="aircraftDataTiles">
				<span class="aircraftTileLabel">Registration Number</span>
				<p><%= aircraft.registration_number %></span></p>
				<span class="aircraftTileLabel">Aircraft Type</span>
				<p><%= aircraft.aircraft_type %></p>


				<form method="POST" action="/delete?_method=DELETE">
					<input type="hidden" name="aircraftToDelete" value="<%= aircraft.id %>">
					<button class="button">Delete Aircraft</button>
				</form>

				<form method="GET" action="/results">
					<input type="hidden" name="searchType" value="registrationURL">
					<input type="hidden" name="registration" value="<%= aircraft.registration_number%>">
					<button class="button"> View If I am Flying</button>
				</form>

			</div>
			<% }); %>
		</div>
	</main>

	<footer>
		<%- include ('../partials/footer') %>
	</footer>

</body>


</html>